.scroll-container {
    /* Enable scroll snapping */
    scroll-snap-type: y mandatory;
    /* Set up the scroll container */
    overflow-y: scroll;
    height: 100vh;
}

.scroll-section {
    /* Each section should snap into place */
    scroll-snap-align: start;
    /* Space out the sections a bit */
    margin-bottom: 10px;
    /* Set a minimum height */
    min-height: 100rem;
    /* Optional: center the content within each section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
