// UI
$ui-dark-main: #2f3542;
$ui-dark-secondary: #57606f;
$ui-dark-tertiary: #a4b0be;

$font-light-main: #f1f2f6;
$font-light-secondary: #dfe4ea;
$font-light-tertiary: #ced6e0;

$ui-green-main: #2ed573;
$ui-green-secondary: #7bed9f;
$ui-orange-main: #ff7f50;

$color-black: #000000;

// Typography
$font-size-h1: 6rem;

// Other
$box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
$text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
$card-background: #747d8c;
$news-background: rgba(#747d8c, 0.66);
$border: 1px solid $card-background;
