@import "../abstracts/variables";

.footer-main {
    background-color: $ui-dark-main;
    height: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    //gap: 3rem;
}

.footer-col {
    padding: 1.25rem;
    border-top: $border;
}

.footer-list {
    list-style: none;
    padding: 0.625rem 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
}

.footer-item {
    display: inline-block;
}

.footer-link {
    color: $font-light-main;
    font-weight: 400;
    text-decoration: none;
    margin-right: 1.25rem;
    text-transform: uppercase;
    transition: all 0.2s;
    display: inline-block;

    &:hover {
        color: $ui-green-main;
        background-color: $ui-dark-main;
        box-shadow: $box-shadow;
        transform: rotate(5deg) scale(1.3);
    }
}

.footer-copyright {
    padding-top: 0.625rem;
    font-weight: 300;
}

