@import "../abstracts/variables";

.main-reg {
    background-color: $ui-dark-secondary;
    height: 110rem;
    display: grid;
}

.main-long {
    background-color: $ui-dark-secondary;
    display: grid;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.main-row-1_2 {
    grid-template-rows: 1fr 2fr;
}

.main-gap-10 {
    gap: 10rem !important;
}

.main-gap-30 {
    gap: 30rem !important;
}

.main-reg-2 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 5rem;
}
