@import "../abstracts/variables";

.navbar-main {
    background-color: $ui-dark-main;
    color: $font-light-main;
    padding: 1.25rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    .container {
        display: grid;
        grid-template-columns: auto 1fr;
        width: 80%;
        margin: 0 auto;
        align-items: center;

        .logo {
            font-size: 2.5rem;
            font-weight: bold;
        }

        .buttons {
            justify-self: end;
            display: flex;

            .btn-nav {
                background-color: $ui-dark-main;
                color: $font-light-main;

                &:hover {
                    color: $ui-green-main;
                }
            }
        }

        .nav-item {
            justify-self: end;
            display: flex;

            .nav-item-group {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .nav-icon-text {
                font-size: 1.4rem;
                color: $font-light-main;
                text-transform: uppercase;
            }
        }

        .nav-items-container {
            justify-self: end;
            display: flex;

            .nav-item-group {
                margin-left: 1.25rem;
            }

            .nav-item {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .nav-item-group {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .nav-icon-text {
                font-size: 1.4rem;
                color: $font-light-main;
                text-transform: uppercase;
            }
        }
    }
}

.nav-icon {
    width: 28px;
    height: 28px;
}
