.image.left {
    animation: moveInLeft 1s ease-out;
}

.image.right {
    animation: moveInRight 1s ease-out;
}

.moveInBottom {
    animation: moveInBottom 1s ease-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }

    80% {
        transform: translateX(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100rem);
    }

    80% {
        transform: translateX(-3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate-image-clockwise img {
    animation: rotate 10s linear infinite;
}

.rotate-image-counterclockwise img {
    animation: rotate 10s linear infinite;
    animation-direction: reverse;
}
