@import "../abstracts/variables";

.input-section {
    background-color: $ui-dark-secondary;
}

.form-group {
    display: grid;
    grid-template-columns: auto;
    gap: 1.75rem;
    width: 50rem;
    margin: 0 auto;

    .btn {
        font-size: 1.75rem;
        width: 100%;
    }
}

.form-input {
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($ui-dark-tertiary, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    width: 100%;
    display: block;
    transition: all 0.3s;

    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
        border-bottom: 3px solid $ui-green-main;

        &:invalid {
            border-bottom: 3px solid $ui-orange-main;
        }
    }

    &::placeholder {
        color: rgba($ui-dark-main, 0.35);
        font-weight: 300;
    }
}

.form-label {
    color: $font-light-secondary;
    font-weight: 300;
    text-align: left;
}

.checkbox-section {
    margin: 0 auto;
    height: 7rem;
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 3px;
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: $text-shadow;
    margin-top: 2rem;
    background-color: rgba($ui-dark-tertiary, 0.5);

    &:checked::before {
        content: "\2713";
        font-weight: 900;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        font-size: 2.5rem;
        text-align: center;
        color: $ui-green-secondary;
        padding: 0;
        margin: 0;
    }
}
