@import "../abstracts/variables";

.lesson-top-elements {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    height: 10rem;
}

.progress-container {
    content: "";
    display: grid;
    clear: both;
    //margin: 4rem auto 0;
    //box-shadow: $box-shadow;
}

.progress-bar-1 {
    background-color: $ui-dark-tertiary !important;
    border-radius: 1rem;
    width: 120rem;
}

.progress-bar-2 {
    content: "";
    display: table;
    clear: both;
    background-color: $ui-green-main !important;
    color: $ui-green-main !important;
    border-radius: 1rem;
    width: 25%;
}

.close-game {
    width: 40px;
    height: 40px;
    display: grid;
    margin-left: 40rem;
}

.points-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 36rem;
    gap: 1rem;
}

.sparkle-icon {
    width: 40px;
    height: 40px;
}

#points {
    font-size: 3rem;
    font-weight: 900;
}
