@import "../abstracts/variables";

.font-light-2 {
    color: $font-light-secondary;
    text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

.font-light-3 {
    color: $font-light-tertiary;
}

.text-shadow {
    text-shadow: $text-shadow;
}
