@import "../abstracts/variables";

.container-center-sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50rem;
    margin: 0 auto;
    height: 9rem;
    justify-items: center;
    align-items: center;
}

.activity-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    gap: 7.5rem;
}

.activity-card {
    background-color: $card-background;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 1rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    h3 {
        font-size: 2rem;
        font-weight: 400;
        text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    p {
        font-size: 3rem;
        font-weight: 500;
        text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    .btn {
        font-size: 1.75rem;
    }
}

.card-img-1 {
    height: 30rem;
    width: auto;
}

.card-img-2 {
    height: 15rem;
    width: auto;
}

.lesson-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7.5rem;
}

.temp-position {
    width: 60rem;
    margin: 0 auto;
}
