@import "../abstracts/variables";

.hero-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.hero-container-1 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 7rem;
}

.hero-container-2 {
    display: grid;
    grid-template-rows: 1fr;
    gap: 3rem;
}

.hero-main-1 {
    background-color: transparent;
    background-image: linear-gradient(90deg, #7bed9f, #f1f2f6);
    color: white;
    line-height: 92px;
    font-size: 83px;
    font-weight: 900;
    letter-spacing: -2px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-main-2 {
    line-height: 70px !important;
    font-size: 60px !important;
}

.hero-secondary {
    font-size: 3rem;
    color: #ced6e0;
    font-weight: 300;
    text-shadow: $text-shadow;
}

.hero-image-left {
    display: grid;
    justify-items: right;
}

.hero-image-right {
    display: grid;
    justify-items: left;
}

.second-scroll-block {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    width: 50%;
}

.third-scroll-block {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    width: 50%;
}

.second-scroll-img {
    display: grid;
    justify-items: center;
    align-items: center;
}

.hero-image-size {
    width: 250px;
    height: 250px;
}
