@import "../abstracts/variables";

.news-block {
    background-color: $news-background;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 3rem;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    width: 95rem;
    margin: 0 auto;
}

.new-img-block {
    margin: 0 auto;
}

.news-img {
    height: 200px;
    width: 200px;
}

.article-block {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2rem;
    padding-bottom: 3rem;
}

.news-date {
    position: relative;
    font-size: 2.25rem;
    font-weight: 600;
    width: 15rem;
    height: 4rem;
    text-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
}

.news-content {
    font-size: 1.75rem;
    font-weight: 300;
    height: 8rem;
    width: 60rem;
}
