.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.mb-7 {
    margin-bottom: 7rem !important;
}

.mb-10 {
    margin-bottom: 10rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mt-7 {
    margin-top: 7rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.pt {
}

.pb {
    padding-bottom: 5rem;
}

.filler-container {
    height: 22rem;
}
